.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c3312;
  padding: 6px 4px;
  border-radius: 6px;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4);
}

.guess {
  display: flex;
  gap: 10px;
  padding-left: 4px;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(2, 10px);
  grid-template-rows: repeat(2, 10px);
  gap: 4px;
  padding-right: 4px;
}

.feedbackPeg {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  box-shadow: inset 0 0 2px #000;
}
