.gameBoardOuter {
  background-color: #7b4a12;
  width: 300px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #42210b;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 6px solid #3a1d0d;
}
